
<title>Home Page</title>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Pro Sets!</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <img src="/content/images/logo.png" />
                        </div>
                        <div class="col-md-8">
                            <p class="home-text">
                                This website makes it easy to look up your favorite players and build item sets based on their recent match history.
                                After selecting a match, the app uses timeline data to break the player's purchases into starting, early game, mid game and late game picks.
                                Then, you can download the sets for use in your own games!
                            </p>
                            <a class="btn btn-success col-xs-12" href="/matchHistory">Get Started <span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">How to use the Match History feature</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    The Match History page allows the user to search for players by their summoner name and view their recent match history for ranked games.
                                    To get started, follow the instructions below:
                                </p>

                                <p>
                                    Enter a Summoner Name and select an appropriate region.<br />
                                    <img class="home-screenshot" src="content/images/match_search_box.png" /><br /><br />

                                    If the name is valid, a list of the player's most recent matches will populate the screen.
                                    The <span class="bold">Match History by Champion</span> window will allow users to filter recent matches by specific champions.
                                    <img class="home-screenshot" src="content/images/match_by_champion.png" /><br /><br />

                                    Upon a successful search, the screen should populate with recent matches that look like this:
                                    <img class="home-screenshot" src="content/images/recent_match_example.png" /><br /><br />

                                    The <span class="bold">Get Item Set</span> button will redirect to the <span class="bold">Item Set Builder</span> page where the player's items will be broken into item
                                    set blocks based on when the items were purchased.<br />
                                    <img class="home-screenshot" src="content/images/item_set_example.png" /><br /><br />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">How to use Item Set Builder</h3>
                            </div>

                            <div class="panel-body">
                                <p>
                                    This feature will let summoners build item sets to be used in game! You can build your item set from scratch or import
                                    it from match history.<br /><br />

                                    First, select the map that will be used for the item set:<br />
                                    <img class="home-screenshot" src="content/images/item_map_mode.png" /><br /><br />

                                    Next, select the champion you want to build the item set for in <q>Champions</q> window.
                                    If you want to build a general item set, do not select a champion.

                                    You may add additional items to your item set by dragging the desired item from the Item Panel on the right side of the screen into one of your item blocks.
                                    Items in the item panel may be filtered by category, price, or name by using the checkboxes and search bar within.<br />
                                    <img class="home-screenshot" src="/content/images/item_set.png" />
                                    <br /><br />

                                    The New Item Set window is where you will build your item set. You can add more groups of items to one item set by clicking <q>Add Group</q> button.
                                    Only one block is required to build an item set.<br />
                                    <img class="home-screenshot" src="content/images/item_set_empty.png" /><br />
                                    Once finished, click the <q>Download Item Set</q> button. A .zip file will be downloaded to your default downloads directory. Unzip the file, and then copy
                                    Config directory contained within into your League of Legends directory. The default League of Legends directory is located at<br />
                                    <span class="bold">C:/Riot Games/League of Legends</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
