
<title>Home Page</title>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-warning" >
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Prosets!</h3>
            </div>
        

            <div class="panel-body">
                <div class="panel-body">
                    <p>This site is designed to help summoners design item sets, look at anyones' recent ranked match history, and modify those items sets from match history.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">How to use the Match History feature</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <p>This page will allows the user to search players by their summoner name and view their match history. Various stats of the match will be displayed.
                        There will be a <q>Get Item Set</q> button that will direct users to the <q>Item set Builder</q> page and preload the selected item set. </p><br />


                    <p>1. Enter Summoner Name<br />
                       2. Select the region they are in<br />
                       3. If the name is valid, a list of their most recent matches should populate the screen to view<br />
                       4. If the champions are clicked from the <q>Match History by Champion</q> window, the screen will repopulate 
                        the screen with recent matches by that hero if there are any.</p>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">How to use Item Set Builder</h3>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <p>This site is designed to help summoners design item sets. Click on the Item Set Builder </p>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>
