
<title>Home Page</title>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Pro Sets!</h3>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12"></div>
                        <div class="col-xs-12">
                            <p>
                                This website makes it easy to look up your favorite players and build item sets based on their recent match history.
                                After selecting a match, the app uses timeline data to break the player's purchases into starting, early game, mid game and late game picks.
                                Then, you can download the sets for use in your own games!
                            </p>
                        </div> 
                        <div class="col-xs-12">
                            <a class="btn btn-success col-xs-12" href="/matchHistory">Get Started <span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">How to use the Match History feature</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <p>
                        This page will allows the user to search players by their summoner name and view their match history. Various stats of the match will be displayed.
                        There will be a <q>Get Item Set</q> button that will direct users to the <q>Item set Builder</q> page and import the selected item set.
                    </p><br />


                    <p>
                        1. Enter Summoner Name and select the appropriate region.<br />
                        <br />
                        <img src="content/images/match_search_box.png" /><br /><br />



                        3. If the name is valid, a list of their most recent matches should populate the screen to view.<br /><br />
                        4. The <q>Match History by Champion</q> window will allow users to view additional recent ranked matches according to the champion
                        the user selects.<br /><br />
                        <img src="content/images/match_by_champion.png" /><br /><br />

                        5. Type in the <q>Filter Champions</q> box to change which champions are displayed in this window.
                        <br /><br />
                        6. Upon a successful search, the screen should populate with recent matches that look like this:<br /><br />
                        <img src="content/images/recent_match_example.png" /><br /><br />

                        7. The <q>Get Item Set</q> button will redirect to the <q>Item Set Builder</q> page with that matches current item set filled in the builder.
                    </p>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">How to use Item Set Builder</h3>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <p>
                        This feature will let summoners build item sets to be used in game! You can build your item set from scratch or import
                        it from match history.<br /><br />

                        1. First, select the map for to build the item set for. It should look like this:<br /><br />
                        <img src="content/images/item_map_mode.png" /><br /><br />


                        2. Select the champion you want to build the item set for in <q>Champions</q> window. If you want do build a general item set,
                        don't select any.<br /><br />

                        3. The <q>Items</q> window is where you can view the items to choose from to apply to your set. the search box and  the various
                        checkbox items help you to filter the list to find them faster. <br /><br />
                        <img src="content/images/item_set.png" /><br /><br />

                        4.To add an item to your set, click and drag the item you want and drop it
                        into the item block.<br /><br />
                        <img src="content/images/item_set_example.png" /><br /><br />


                        5. The <q>New Item Set</q> window is where you will build your item set. You can add more groups of items to one item set by clicking <q>Add Group</q> button.
                        Only one block is required to build an item set.








                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
