<title>Match History</title>

<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Search for a Summoner</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <form ng-submit="searchUser(userName, selected_region)">
                        <label>Name:</label>
                        <input type="text" ng-model="userName" class="form-control" placeholder="Summoner name" id="search" required />
                        <br />
                        <label>Region:</label>
                        <select name="region" ng-init="selected_region = regions[5]" class="form-control region-size" ng-model="selected_region" ng-options="region.name for region in regions"></select>
                        <br />
                        <p class="validation-message">
                            <span id="summonerSearch" class="alert alert-danger" data-ng-show="validation"> <span class="glyphicon glyphicon-exclamation-sign"></span>  {{validation}}</span>
                        </p>
                        <button class="btn btn-success pull-right">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Match History by Champion</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <input id="searchChampions" class="search form-control" type="text" placeholder="Filter Champions" />
                    <div class="hero-format2 champion-panel">
                        <div class="champion-icon fadeinAnimate" data-name="{{hero.name}}" ng-repeat="hero in heroes" ng-click="matchDetails(hero.id, $index)">
                            <img class="hero-img-format" ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{hero.key}}.png" alt="Hero Image" />
                            <span class="mouseOver">{{hero.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-show="recentDisplayName">
        <!-- username, most recent matches -->
        <div class="panel panel-warning stretch-bg">
            <div class="panel-heading">
                <span class="panel-title">{{recentDisplayName}} {{userNameDisplay}}{{heroMatchResults}}</span>
            </div>
            <div class="panel-body">
                <div class="panel panel-warning fadeinAnimate" ng-repeat="match in recentMatches">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{mapNames[match.mapId]}} -- {{match.matchCreation | date:'medium'}}</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr class="row ">
                                <td class="col-xs-2" ng-repeat="image in getChampionImage(match.participants[0].championId)">
                                    <img class="hero-img-format" src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{image.key}}.png">
                                    <span class="smTab"><label>{{image.name}}</label></span>
                                </td>

                                <td class="col-xs-1">
                                    <div>
                                        <label>K/D/A</label>
                                    </div>
                                    {{match.participants[0].stats.kills}}/{{match.participants[0].stats.deaths}}/{{match.participants[0].stats.assists}}
                                </td>
                                <td class="col-xs-1">
                                    <div>
                                        <label>Gold</label>
                                    </div>
                                    {{match.participants[0].stats.goldEarned}}
                                </td>
                                <td class="col-xs-1">
                                    <div>
                                        <label>Duration</label>
                                    </div>
                                    {{match.matchDuration/60 | number: 0 }}:{{(match.matchDuration%60 < 10)?0:""}}{{match.matchDuration%60 | number: 0}}
                                </td>

                                <td class="col-xs-1">
                                    <label>W/L</label><br />
                                    {{match.participants[0].stats.winner}}

                                </td>

                                <td class="col-xs-4">
                                    <div class="itemContainer" id="detectZeroImage" ng-repeat="itemList in getItemListPerMatch(match.participants[0].stats) track by $index">
                                        <img class="item-img-format" data-preload-image
                                             onerror="if (this.src != 'content/images/yellow-paper.jpg') this.src = 'content/images/yellow-paper.jpg';"
                                             data-fallback-image="http://ddragon.leagueoflegends.com/cdn/4.2.6/img/item/{{itemList}}.png"
                                             ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{itemList}}.png" alt="item image" />

                                    </div>
                                </td>
                                <td class="col-xs-2"><button class="btn btn-primary" ng-click="getHeroItemSet(match.matchId)">Get Item Set</button></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>   

  
</div>


<script src="/content/scripts/matchUi.js"></script>
